#mysql config

#课程文件
*.xlsx
UPCSPlatForm/spider/txt/*.txt


#缓冲文件
*.pyc
UPCSPlatForm/CoursePart/__pycache__/*.pyc
UPCSPlatForm/CourseComment/__pycache__/*.pyc
UPCSPlatForm/Favorites/__pycache__/*.pyc
UPCSPlatForm/MySite/__pycache__/*.pyc
UPCSPlatForm/MySite/migrations/__pycache__/*.pyc
UPCSPlatForm/UPCSPlatForm/__pycache__/*.pyc
UPCSPlatForm/spider/__pycache__/*.pyc
UPCSPlatForm/BrowseRecords/__pycache__/*.pyc


#mysql配置文件
UPCSPlatForm/UPCSPlatForm/config.ini
#stmp服务配置文件
UPCSPlatForm/MySite/config.ini

# ignore all except .gitignore file
*
!.gitignore
