{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>爬虫管理</title>
    <link href="{% static 'css/form.css' %}" rel="stylesheet"/>
    <script>
            function updateCourse(){
                document.getElementById('update_id').value = 'update';
                document.getElementById('update_btn').click();
            }
        </script>
</head>

<body>
    <div class="container" style="width: 500px;height: 300px; border-radius: 15px">
    <div class="form form--login" style="width:500px">
        <div class="form--heading">准备爬取教务系统，请手动登录得到cookies</div>
            <form action="/spider/" method="post" target = "iframe_id">
                {% csrf_token %}
                <input type = "text" id = "Cookies" name = "Cookies"></input>
                <button type="submit" class="button" style="width: 100px" id="btn">爬取</button>
            </form>
            <form action="/spider/" method="post" target = "iframe_id">
            {% csrf_token %}
                <input type = "text" id = "update_id" name = "update_id" hidden></input>
                <button type="submit" class="button" style="width: 100px" id="update_btn" onclick= "updateCourse()">更新</button>
            </form>
        </div>
    </div>
    </div>
    <iframe id="iframe_id" name="iframe_id" style="display:none;"></iframe>

</body>
</html>
