/* CSS Document */
body{
	background-color: grey;
    
}
.body a{
	-webkit-user-select: element;
	-moz-user-select: element;
	-ms-user-select: element;
	user-select: element;
}
footer {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 20% 0 2px ;
    color:black;
	font-family: 'Josefin Sans', sans-serif;
	bottom: 10px;
	position: fixed;
	left: 20%;
	right: 20%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
footer a{
	font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
	text-decoration: none;
    padding: 20px 0 20px 0;
    color: black;
}
footer a:hover{
	color: #6A0001;
}
ul {
	z-index: 101;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	width: 100%;
	background-color: pink;
	opacity: 0.75;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 18px;
	line-height: 12px;
}
li {
	float: left;
	height: 100%;
}
li a {
	display: block;
	color: purple;
	text-align: center;
	padding: 20px;
	margin: 0 ;
	text-decoration: none;
}
/*鼠标移动到选项上修改背景颜色 */
li a:hover {
	background-color: #5C6A7D;
}
li a.active {
	background-color: #4CAF50;
}
li2{
	float: right;
	height: 100%;
	padding-right: 5%;
	margin-right: 2%;
}
li2 :hover {
	background-color: black;
}


