{% extends "base.html" %}
{% load static %}
{% load pagination_tags %}

{% block title %}{{course.name}}详情页{% endblock %}
{% block descriptions %}
<meta name="keywords" content="课程详细页" />
<meta name="description" content="这里展示课程详细信息和相关评价" />
{% endblock %}

{% block css %}
<link href="{% static 'css/detail.css' %}" rel="stylesheet"/>
<link href="{% static 'css/pagination.css' %}" rel="stylesheet"/>
{% endblock %}

{% block js %}

    function clearText(field) {
        if (field.defaultValue == field.value) field.value = '';
        else if (field.value == '') field.value = field.defaultValue;
    }

    function showReplyCommentArea(this_element,comment_id) {
        let commentLabel = document.getElementById("comment_label")
        var this_HTML = this_element.innerHTML
        commentLabel.innerText = "回复@"+ this_HTML.slice(27,-4) +":"
        let toCommentID = document.getElementById("to_comment_id")
        toCommentID.value = comment_id
    }

    function checkReplyOrNot() {
        let toComment = document.getElementById("to_comment_id")
        let commentLabel = document.getElementById("comment_label")
        if(commentLabel.innerText ==="评论") toComment.value = "*"   /* *表示不是回复 */
    }

{% endblock %}

{% block content %}
<div id="templatemo_site_title_bar_wrapper">
	<div id="templatemo_site_title_bar">
	    <div id="site_title">
            <h1><a>{{course.name}}详情页
                <span>包含课程详细信息和相关评价</span>
            </a></h1>
        </div>
    </div>   
</div>

<div id="templatemo_menu_wrapper">
	<div id="templatemo_menu">
	    <ul>
            <li><a href="" class="current fast"><span></span>当前页</a></li>
            <li><a href="/index/"><span></span>课程列表</a></li>
        </ul>
    </div>
</div> 

<div id="templatemo_content_wrapper_outer">

	<div id="templatemo_content_wrapper_inner">
    
    	<div id="templatemo_content_wrapper">
        	
            <div id="templatemo_content">
            	<div class="content_bottom"></div>
            	
                <div id="main_column">
                
                    <div class="post_box" >
                        
                        <h2><a>{{course.name}}</a></h2>
                        
						<div class="post_info">
                        
                            <div class="post_date">
                                课程编号:<br>{{course.ID }}
							</div>
                            
                            <div class="post_author">
                                课程类别:<br>{{course.type}}
                            </div>
                            
                            <div class="post_comment">
                                授课教师:<br>{{course.teacherName}}
                            </div>
							
							<div class="post_comment">
                                授课学院:<br>{{course.college}}
                            </div>
                            
							<div class="post_date">
                                课程学分:<br>{{course.credit}}
							</div>
							
							<div class="post_author">
                                学时安排:<br>暂无记录
                            </div>
                                                        
                        </div>
                        <br>
                        <form action="/detail/" method="post">
                            {% csrf_token %}
						    <div class="group">
                                {{ commentForm.thisComment }}
                                {{ commentForm.ToCommentID }}
							    <span class="highlight"></span><span class="bar"></span>
							    <label id="comment_label">评论</label>
						    </div>
                        
						    <div class="btn-box">
							    <button type="submit" class="btn btn-submit" onclick="checkReplyOrNot()">提交</button>
						    </div>
                        </form>
						
                    </div> <!-- end of a post -->
                    
                        
				</div> <!-- end of main column -->        
				
                <div id="side_column">
                
                <div class="side_column_section" >
                
                   	<h3>课程评价</h3>

                    {% autopaginate comments 4 as thisPageComments %}
                    {% for comment in thisPageComments %}
                    <div class="recent_post">
                    	<h4><a id="user_name">{{ comment.Comment_User_ID.UserName }}:</a></h4>
                        {% if comment.To_Comment_ID == null %}
                    	<div style="word-wrap: break-word;word-break: break-all;overflow: hidden;">{{ comment.Comment_text }}</div>
                        {% else %}
                        <div style="word-wrap: break-word;word-break: break-all;overflow: hidden;">回复@{{ comment.To_Comment_ID.Comment_User_ID.UserName }}:
                            {{ comment.Comment_text }}</div>
                        {% endif %}
                        <div style="float:left;">
                            <a style="color: #d43f3a" onclick="showReplyCommentArea(this, {{ comment.Comment_ID }})">回复<p style="display:none;">{{ comment.Comment_User_ID.UserName }}</p></a></div>
                        <div style="float:right;">{{ comment.Time }}</div>
                        <div style="text-align: center">&nbsp</div>

                    </div>
                    
                    {% endfor %}
                    
                </div>
                {% paginate %}
                                
                </div> <!-- end of side column -->
            
            	<div class="cleaner"></div>
            </div>
        
        	<div class="cleaner"></div>
        </div>
        
        <div class="cleaner"></div>        
    </div>

</div>

<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'>
    </script>
</div>

{% endblock %}