<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>个人信息修改</title>
</head>
<body>
    <div class="container">
            <div class="col">
                <form class="form-edit" action="/editpassword/" method="post">

                  {% csrf_token %}

                  <div class="form-group">
                      {{ user_editform.Password.label_tag }}
                      {{ user_editform.Password}}
                  </div>

                  <div>
                      <button type="submit" class="btn btn-primary float-right">修改</button>
                  </div>
                </form>
            </div>
    </div> <!-- /container -->


</body>
</html>