{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>个人信息修改</title>
    <link href="{% static 'css/form.css' %}" rel="stylesheet"/>
</head>

<body>
    <div class="container" style="width: 500px;height: 300px; border-radius: 15px">
    <div class="form form--login" style="width:500px">
        <div class="form--heading">请输入昵称</div>
            <form class="form-edit" action="/editusername/" method="post" autocomplete="off">
                {% csrf_token %}
                {{ user_editform.UserName}}
                <button class="button" style="width: 100px">修改</button>
            </form>
        </div>
    </div>
    </div>


</body>
</html>