{% extends "base.html" %}
{% load static %}
{% load pagination_tags %}

    {% block title %}大学公共课程共享资源管理平台{% endblock %}

    {% block css %}
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link href="{% static 'css/searchBar.css' %}" rel="stylesheet">
    <link href="{% static 'css/table.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet"/>
    {% endblock %}

    {% block js %}

        function changeType(thisElement) {
            let type = document.getElementById("course_type");
            let submit_type = document.getElementById("hidden_type");
            type.innerHTML = thisElement.innerHTML;
            submit_type.value = thisElement.innerHTML;
        }

        function changeName(thisElement) {
            let submit_name = document.getElementById("hidden_name");
            submit_name.value = thisElement.value;
        }

        function changeID(thisElement) {
            let submit_type = document.getElementById("hidden_id");
            submit_type.value = thisElement.value;
        }

        function changeTeacher(thisElement) {
            let submit_teacher = document.getElementById("hidden_teacher");
            submit_teacher.value = thisElement.value;
        }

        function clickAllBtn() {
            let type_btn = document.getElementById('hidden_btn');
            let name_btn = document.getElementById('name_btn');
            let teacher_btn = document.getElementById('teacher_btn');
            let id_btn = document.getElementById('id_btn');
            type_btn.click();
            type_btn.onsubmit(function(){teacher_btn.click()});
            teacher_btn.onsubmit(function(){name_btn.click()});
            name_btn.onsubmit(function(){id_btn.click()});
        }

        function submitAll() {
            document.getElementById('hidden_btn').click();
        }

        function gotoPrevPage() {
            let thisPage = document.getElementsByClassName("pagination__number pagination__number_active").item(0);
            var pageNum = thisPage.innerHTML;
            if(pageNum != '1') pageNum -=1;
            let prevPage = document.getElementById(pageNum);
        }

        function gotoPage(thisElement) {
            let thisPage = document.getElementsByClassName("pagination__number pagination__number_active").item(0);
            thisPage.className = "pagination__number";
            thisElement.className = "pagination__number pagination__number_active";
        }

        function gotoDetail(id) {
            let detail = document.getElementById("detail_id");
            detail.value = id;
            let detail_btn = document.getElementById("detail_btn");
            detail_btn.click();
        }
    {% endblock %}

{% block content %}

<div class="header" id="head"  >
    <div class="title" style="text-align: center;"><h1>大学课程共享平台</h1></div>
</div>

<div id="container" >


    <div class="search bar7" style="float: right">
        <form action="/index/" method="get">
            <input type="text" id="course_teacher" onchange='changeTeacher(this)' placeholder="请输入您要搜索的教师名">
            <input style='display:none' />
            <button type="button" id="teacher_btn" onclick="submitAll()"></button>
        </form>
    </div>

    <div class="search bar7" style="float: right">
        <form action="/index/" method="get">
            <input type="text" id="course_id" onchange='changeID(this)' placeholder="请输入您要搜索的课程号">
            <input style='display:none' />
            <button type="button" id="id_btn" onclick="submitAll()"></button>
        </form>
    </div>

    <form action="/index/" method="get">
        <input type="text" id="hidden_type" name="course_type" hidden>
        <input type="text" id="hidden_id" name="course_id" hidden>
        <input type="text" id="hidden_teacher" name="course_teacher" hidden>
        <input type="text" id="hidden_name" name="course_name" hidden>
        <button type="submit" id="hidden_btn" hidden></button>
    </form>

    <form action="/detail/" method="get">
        <input type="text" id="detail_id" name="detail_id" hidden>
        <button type="submit" id="detail_btn" hidden></button>
    </form>

    <ul id="nav" style="float: left">
	    <li>
            <a id="course_type" type="text" onclick="submitAll()">
                请选择要查询的课程类型
            </a>
	    	<ul>
                <li><a onclick='changeType(this)'>公共基础必修</a></li>
                <li><a onclick='changeType(this)'>公共基础选修</a></li>
                <li><a onclick='changeType(this)'>通识教育必修</a></li>
                <li><a onclick='changeType(this)'>通识教育选修</a></li>
                <li><a onclick='changeType(this)'>专业教育必修</a></li>
                <li><a onclick='changeType(this)'>专业教育选修</a></li>
                <li><a onclick='changeType(this)'>公共必修</a></li>
                <li><a onclick='changeType(this)'>公共选修</a></li>
                <li><a onclick='changeType(this)'>专业必修</a></li>
                <li><a onclick='changeType(this)'>专业选修</a></li>
		    </ul>
	    </li>
    </ul>

    <div class="search bar7" style="float: left">
        <form action="/index/" method="get">
            <input type="text" id="course_name" onchange='changeName(this)' placeholder="请输入您要搜索的课程名">
            <input style='display:none' />
            <button type="button" id="name_btn" onclick="submitAll()"></button>
        </form>
    </div>

    <table class="bordered">
        <thead>
            <tr>
                <th>课程号</th>
                <th>课程名</th>
                <th>课程类别</th>
                <th>授课教师</th>
                <th>授课学院</th>
                <th>课程学分</th>
                <th>学时安排</th>
            </tr>
        </thead>
        {% autopaginate courses 10 as thisPageCourses %}
        {% for course in thisPageCourses %}
        <tr onclick="gotoDetail({{ course.ID }})">
            <td>{{ course.ID }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.type }}</td>
            <td>{{ course.teacherName }}</td>
            <td>{{ course.college }}</td>
            <td>{{ course.credit }}</td>
            <td>{{ course.time }}</td>
        </tr>
        {% endfor %}

    </table>

    {% paginate %}
</div>

{% endblock %}
