{% extends "base.html" %}
{% load static %}
{% load pagination_tags %}

    {% block title %}大学公共课程共享资源管理平台{% endblock %}

    {% block css %}
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link href="{% static 'css/searchBar.css' %}" rel="stylesheet">
    <link href="{% static 'css/table.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet"/>
    {% endblock %}

    {% block js %}

        function changeType(thisElement) {
            let type = document.getElementById("course_type");
            let submit_type = document.getElementById("hidden_type");
            type.innerHTML = thisElement.innerHTML;
            submit_type.value = thisElement.innerHTML;
        }

        function changeName(thisElement) {
            let submit_name = document.getElementById("hidden_name");
            submit_name.value = thisElement.value;
        }

        function changeCollege(thisElement) {
            let submit_type = document.getElementById("hidden_college");
            submit_type.value = thisElement.value;
        }

        function changeTeacher(thisElement) {
            let submit_teacher = document.getElementById("hidden_teacher");
            submit_teacher.value = thisElement.value;
        }

        function clickAllBtn() {
            let type_btn = document.getElementById('hidden_btn');
            let name_btn = document.getElementById('name_btn');
            let teacher_btn = document.getElementById('teacher_btn');
            let id_btn = document.getElementById('college_btn');
            type_btn.click();
            type_btn.onsubmit(function(){teacher_btn.click()});
            teacher_btn.onsubmit(function(){name_btn.click()});
            name_btn.onsubmit(function(){id_btn.click()});
        }

        function submitAll() {
            document.getElementById('hidden_btn').click();
        }

        function gotoPrevPage() {
            let thisPage = document.getElementsByClassName("pagination__number pagination__number_active").item(0);
            var pageNum = thisPage.innerHTML;
            if(pageNum != '1') pageNum -=1;
            let prevPage = document.getElementById(pageNum);
        }

        function gotoPage(thisElement) {
            let thisPage = document.getElementsByClassName("pagination__number pagination__number_active").item(0);
            thisPage.className = "pagination__number";
            thisElement.className = "pagination__number pagination__number_active";
        }

        function gotoDetail(id) {
            let detail = document.getElementById("detail_id");
            detail.value = id;
            let detail_btn = document.getElementById("detail_btn");
            detail_btn.click();
        }
		
		function star(courseid) {
            var str = courseid.toString();
            var starId = str.concat("star");
            var staredId = str.concat("stared");
            var star = document.getElementById("star_id");//收藏课程的id
            star.value = courseid;
            var decision = document.getElementById("decision_id");//收藏或者取消收藏            
            var star_btn =  document.getElementById("star_btn");
            if(document.getElementById(starId).style.display == "block"){
                document.getElementById(starId).style.display = "none";
                document.getElementById(staredId).style.display = "block";     
                decision.value = 'like';
                star_btn.click();                
            }
            else{
                document.getElementById(starId).style.display = "block";
                document.getElementById(staredId).style.display = "none";
                decision.value = 'cancel';
                star_btn.click();
            }
            return false;
        }
    {% endblock %}

{% block content %}

<div class="header" id="head"  >
    <div class="title" style="text-align: center;"><h1>大学公共课程共享资源管理平台</h1></div>
</div>

<div id="container" style="height: auto">

    <ul id="nav" style="float: left;">
	    <li>
            <a id="course_type" type="text" onclick="submitAll()">
                请选择要查询的课程类型
            </a>
	    	<ul>
                <li><a onclick='changeType(this)'>社会科学与现代社会</a></li>
                <li><a onclick='changeType(this)'>科学精神与生命关怀</a></li>
                <li><a onclick='changeType(this)'>艺术体验与审美鉴赏</a></li>
                <li><a onclick='changeType(this)'>中华文化与世界文明</a></li>
		    </ul>
	    </li>
    </ul>

    <div class="search bar7" style="float: left">
        <form action="/index/" method="get">
            <input type="text" id="course_name" onchange='changeName(this)' placeholder="请输入您要搜索的课程名">
            <input style='display:none' />
            &emsp;<button type="button" id="name_btn" onclick="submitAll()"></button>
        </form>
    </div>
    <div class="search bar7" style="float: right">
        <form action="/index/" method="get">
            <input type="text" id="course_teacher" onchange='changeTeacher(this)' placeholder="请输入您要搜索的教师名">
            <input style='display:none' />
            <button type="button" id="teacher_btn" onclick="submitAll()"></button>
        </form>
    </div>
    <div class="search bar7" style="float: right">
        <form action="/index/" method="get">
            <input type="text" id="course_college" onchange='changeCollege(this)' placeholder="请输入要搜索的授课学院">
            <input style='display:none' />
            <button type="button" id="college_btn" onclick="submitAll()"></button>
        </form>
    </div>
    <form action="/index/" method="get">
        <input type="text" id="hidden_type" name="course_type" hidden>
        <input type="text" id="hidden_college" name="course_college" hidden>
        <input type="text" id="hidden_teacher" name="course_teacher" hidden>
        <input type="text" id="hidden_name" name="course_name" hidden>
        <button type="submit" id="hidden_btn" hidden></button>
    </form>

    <form action="/detail/" method="get">
        <input type="text" id="detail_id" name="detail_id" hidden>
        <button type="submit" id="detail_btn" hidden></button>
    </form>

    <table class="bordered" >
        <thead>
            <tr>
                <th style="text-align: center">编号</th>
                <th style="text-align: center">课程名</th>
                <th style="text-align: center">课程类别</th>
                <th style="text-align: center">授课教师</th>
                <th style="text-align: center">授课学院</th>
                <th style="text-align: center">课程学分</th>
                <th style="text-align: center">收藏</th>
            </tr>
        </thead>
        {% autopaginate courses 10 as thisPageCourses %}
        {% for course in thisPageCourses %}
        <tr>
            <td onclick="gotoDetail({{ course.ID }})" style="text-align: center">{{ course.ID }}</td>
            <td onclick="gotoDetail({{ course.ID }})" style="text-align: center">{{ course.name }}</td>
            <td onclick="gotoDetail({{ course.ID }})" style="text-align: center">{{ course.type }}</td>
            <td onclick="gotoDetail({{ course.ID }})" style="text-align: center">{{ course.teacherName }}</td>
            <td onclick="gotoDetail({{ course.ID }})" style="text-align: center">{{ course.college }}</td>
            <td onclick="gotoDetail({{ course.ID }})" style="text-align: center">{{ course.credit }}</td>
            <td>
                {% if course in stars %}
                <span style=" text-align:center;display:none" onclick="star({{ course.ID }})"id = "{{ course.ID }}star">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
                <span  style=" text-align:center;display:block" onclick="star({{ course.ID }})"id = "{{ course.ID }}stared">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </span>
                {% else %}
                <span style=" text-align:center;display:block" onclick="star({{ course.ID }})"id = "{{ course.ID }}star">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
                <span  style=" text-align:center;display:none" onclick="star({{ course.ID }})"id = "{{ course.ID }}stared">
                    <i class="fa fa-star" aria-hidden="true"></i>   
                </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>

    {% paginate %}
	
	<form action="/index/" method="post" target="iframe_id" hidden>
		{% csrf_token %}
		<input type="text" id = "star_id" name="star_id"/>
		<input type="text" id = "decision_id" name="decision_id"/>
		<button type="submit" id="star_btn"></button>
    </form>
    
    <iframe id="iframe_id" name="iframe_id" style="display:none;"></iframe>

    <p style="text-align: center">
        <button style="border: #0d8aee">
            <a href="/logout/" >登出</a>
        </button>
    </p>
</div>
{% endblock %}
