{% extends "base.html" %}
{% load static %}
{% load pagination_tags %}

    {% block title %}大学公共课程共享资源管理平台{% endblock %}

    {% block css %}
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet"/>
    {% endblock %}

{% block content %}
<div class="container">
    <div class="header" id="head"  >
        <div class="title" style="text-align: center;"><h1>个人信息</h1></div>
    </div>
     <div class="col">
            {% csrf_token %}
            <div class="row">
                <div class="text-center">用户名:</div>
                <div class="text-center">{{User.UserID}}</div>
            </div>
            <div class="row">
                <div class="text-center">用户昵称:</div>
                <div class="text-center">{{User.UserName}}</div>
            </div>
            <div class="row">
                <div class="text-center">邮箱:</div>
                <div class="text-center">{{User.Email}}</div>
            </div>
            <div class="row">
                <a href="/editusername/"><ins>修改昵称</ins></a>
            </div>
            <div class="row">
                <a href="/editpassword/"><ins>修改密码</ins></a>
            </div>
            <div class="row">
                <a href="/index/"><ins>后退</ins></a>
            </div>
        </div>
</div>


{% endblock %}
